.cell {
  position: relative;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
}

.text > .main-content {
  padding-left: 8px;
}

.inputarea, .text-top-div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row;
  flex-flow: row;
}

.code .inputarea {
  /* editor resizes to this height on focus*/
  min-height: 24px;
}

.markdown {
  flex: 1;
}

.editor {
  flex: 1;
}

.formview {
  padding: 4px 8px;
  flex: 1;
}

.formview-input {
  width: 70%
}

.formview-full {
  width: 100%;
}

.dragitem {
  visibility: hidden;
  height: 20px;
}

pre {
  margin-top: 2px;
  margin-bottom: 2px;
  white-space: pre-wrap;
}


.completions {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  border: 1px solid #ababab;
  border-radius: 4px;
  -webkit-box-shadow: 0px 6px 10px -1px #adadad;
  -moz-box-shadow: 0px 6px 10px -1px #adadad;
  box-shadow: 0px 6px 10px -1px #adadad;
}

.execution-count {
  min-width: 32px;
  text-align: center;
  background-color: white;
  font-family: monospace;
  padding: 4px 0 0 4px;
  margin-top: 7px;
}

.code.out-of-date * .output-info > .collaborator-img-me {
    opacity: .4;
}

.code.up-to-date * .output-info > .collaborator-img-me {
    opacity: 1.0;
}

.code.out-of-date * .execution-count {
    color: gray;
}

.code.up-to-date * .execution-count {
    color: black;
}

.code .editor {
  border: 1px solid #ededed;
  background: #f7f7f7;
  margin: 4px;
  padding: 4px;
}

.text * .editor {
  display: none;
}

.text.edit * .editor {
  border-top: 1px dashed grey;
  display: block;
}

.main-content {
  background: white;
}

.paper-shadow-bottom, .paper-shadow-top {
  pointer-events: none;
}

.paper-shadow-top {
  border-radius: inherit;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.main-content > .paper-shadow-bottom,
.main-content > .paper-shadow-top {
  bottom: 8px;
}

.cell-collaborators > .paper-shadow-bottom,
.cell-collaborators > .paper-shadow-top {
  right: 4px;
}

.code * .main-content {
  border-radius: 2px;
}

.code * .editor.non-trusted * .CodeMirror-gutters {
  background: #ECC4C4;
}

.code * .editor.non-trusted * .CodeMirror-linenumber {
  color: black;
  pointer-events: none;
}

.output {
  font-family: monospace;
  font-size: 10pt;
}

.output-content {
  padding: 4px 0 4px 0;
  display: flex;
}

.output-info {
  width: 40px;
  text-align: center;
}

.output-iframe-container {
  flex: 1;
}

.output-iframe-container > iframe {
  width: 100%;
  border: 0px;
}

.raw-input-container {
  font-family: monospace;
  font-size: 10pt;
  margin-left: 40px;
}

.editor > .CodeMirror {
  background: transparent;
}

.CodeMirror {
  height: auto;
  overflow-x: hidden;
  line-height: 1.08;
}

.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.CodeMirror-hscrollbar {
  overflow-x:hidden
}

.cell-collaborators {
  position: absolute;
  right: -30px;
  z-index: 12; /* make sure the collaborators stays behind the header */
}

.cell-comments {
  width: 130px;
  height: 50px;
  position: relative;
  display: inline-block;

  background: #fff;
  border: solid 1px #cbcbcb;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  padding: 0 10px 0 10px;
}

.cell-spacer{
  display: inline-block;
  width: 10px;
  position: relative;
}

.cell-comments-area {
  display: none;
  position: absolute;
  top: 30px;
  right: -200px;
  z-index: 12; /* make sure the collaborators stays behind the header */
}

.selected > .cell-comments-area {
  display: block;
}

div.formview-title {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

div.formview-title-text {
    font-size: 12pt;
    font-weight: 700;
}

div.formview-title > .goog-button {
    background: white;
    border: 1px solid black;
}

div.formview-title > .goog-button:hover {
    background: lightgrey;
}

.add-cell {
  height: 16px;
  z-index: 20;
  margin-top: -4px;
  margin-bottom: -4px;
  margin-right: 4px;
}

.add-cell:hover {
  background: #f9f9f9;
}

.notebook-content > .add-cell {
  position: relative;
}

.add-cell > hr {
  margin: 7px auto 0 auto;
  width: 144px;
  border-style: solid;
  border-top: none;
  border-color: lightgrey;
  visibility: hidden;
  border-width: 2px;
}

.add-cell:hover > hr {
  visibility: visible;
}

.notebook-content > .add-cell > hr {
  padding-top: 8px;
  border-left: none;
  border-right: none;
}

.add-button {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-top: -8px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  line-height: 32px;
  font-size: 12pt;
  font-weight: 500;
  border: 1px solid transparent !important;
}

.add-code {
  left: 0;
  font-family: monospace;
}

.add-text {
  left: 100px;
}

.add-button:hover {
  cursor: default;
  border: 1px solid #a1badf !important;
}
