#top-floater
{
  z-index: 20;
  background: white;
}

#top-toolbar.goog-toolbar {
  background: white;
  border-bottom: 2px solid black;
}
#top-toolbar.goog-toolbar > .goog-toolbar-separator {
  height: 16px;
}

#header-left {
    display: inline-flex;
}

#header-logo {
    height: 60px;
    width: 40px;
    background: darkslategrey;
    text-align: center;
}

#header-logo > img {
  position: relative;
  width: 30px;
  height: 30px;
  padding-top: 15px;
  vertical-align: middle;
}

#header-doc-toolbar {
    margin-left: 15px;
    height: 60px;
}

.notification {
  margin-left:20px;
  margin-right:20px;
  margin-left: 20px;
  margin-right: 20px;

  background-color: #f9edbe;
  border-color: #f0c36d;
  /* border-radius: 1px; */
  border: 1px solid lightgrey;
  padding: 3px;
}

#header {
    width: 100%;
    text-align: left;
    border-bottom: 2px solid darkslategrey;
    display: inline-flex;
    justify-content: space-between;
    font: normal 13px arial,sans-serif;
}

.realtime-button:hover
{
  opacity: 1;
}

/** not being used right now cause i can't figure
 out how to do it */
#colab-logo {
    width: 30px;
    vertical-align: middle;
    height: 30px;
    background-size: 100% 100%;
    background: blue url(../img/white-icon.svg) center no-repeat;
}

#doc-name {
  border: none;
  margin-top: 3px;
  padding: 2px 5px 0px 4px;
  height: 27px; width: auto;
  font: normal 18px arial,sans-serif;
  min-width: 425px;
}

#doc-name:focus {
  outline: 1px solid blue;
}

/** realtime buttons */
#header-right {
    margin-top: 24px;
    margin-right: 20px;
}

.collaborator {
  height: 25px;
  padding-bottom: 5px;
  vertical-align: middle;
}

.collaborator-img {
  margin-right: 5px;
  margin-top: 0px;
}

.collaborator-overflow {
 line-height: 25px;
 width: 25px;
 text-align: center;
 background: black;
 color: white;
 font-weight: bold;
 font-size: 10pt;
 display: inline-block;
}

.cell-collaborators .collaborator,
.output-info .collaborator {
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin-right: 4px;
}

.cell-collaborators .collaborator {
  padding-bottom: 4px;
}

.output-info .collaborator {
  padding-bottom: 0;
  border-radius: 100%;
}

.output-info .collaborator {
  display: inline-block;
  margin: 0 auto;
}

.collaborator-overflow > span {
 text-align: center;
 vertical-align: middle;
}

#collaborators {
  display:inline-block;
}

.realtime-button:hover {
  opacity: 1;
}

.realtime-button {
  opacity: 0.8;
  border: 1px solid #3079ed;
  color: #FFF;
  font-size: 11px;
  font-weight: bold;
  padding: 7px 8px;
  vertical-align: middle;
  border-radius: 2px;
  background-color: #4d90fe;
}

#backend-connect-toolbar-button {
  font-weight: bold;
}

#backend-connect-toolbar-button.disconnected {
  color: #EA6464;
}

#backend-connect-toolbar-button.connected {
  color: #397D02;
}

#backend-connect-toolbar-button.connecting {
  color: #ECCD34;
}

