/**
 * Pop-up Dialog
 */

.modal-dialog-bg {
  z-index: 20;
}

.modal-dialog {
  z-index: 20;
  box-shadow: 10px 20px 30px #888888
}

.modal-dialog > input {
  margin: 10px;
}

#kernel-url-input {
  margin: 10px;
  font-family: monospace;
  font-size: 12px;
  /* border: solid black 1px; */
  padding: 2px 5px;
}

/**
 * Message and dialogs in content
 */
.content-message {
  margin: 20px;
  text-align: center;
  width: 100%;
}

/**
 * Page
 */
.notebook-content {
  margin: 5px 60px;
  padding: 10px 16px 200px 16px;
  min-width: 600px;
  min-height: 800px;
  background: white;
  border: 1px solid #dadada;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.notebook-container {
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 4px;
  font-weight: 600;
}

p, ul {
  margin-top: 6px;
  margin-bottom: 6px;
}

pre {
  margin-top: 0px;
  margin-bottom: 0px;

}

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  font-weight: 300;
  background: #eeeeee;
}

/* for interacrtive tables */
input.text_filter.search_init {
  width: 95%;
}

.bottompane {
  z-index: 19;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.bottompane-handle {
  background: #777;
  height: 5px;
  cursor: row-resize;
}

.bottompane-content {
  background: white;
  height: 100%;
  overflow: hidden;
}

.bottompane-toolbar {
  text-align: right;
  padding-right: 10px;
  position: absolute;
  right: 0;
}

.bottompane-toolbar > button.goog-button {
  background: white;
  border: solid black 1px;
}

.bottompane-toolbar > button.goog-button:hover {
  background: rgb(124, 124, 124);
  border: solid black 1px;
}

.tab-content {
  overflow-y: scroll;
}

.code-help {
  white-space: pre-wrap;
  margin: 15px;
}

body.bottompane-drag, body.bottompane-drag * {
 cursor: row-resize !important;
}

.goog-tab {
  color: #666;
  text-decoration: none;
}

.goog-tab-selected {
  color: #222;
  border: 1px solid #818181;
}

.goog-tab:hover {
  color: #222;
  text-decoration: none;
  padding-bottom: 5px;
  box-shadow: inset 0 1px 5px #ccc;
  background: whitesmoke;
}

.goog-tab-bar {
  background-color: whitesmoke;
}

.goog-tab-bar-top {
  border-bottom: 1px solid #919191!important;
}

.goog-tab-bar-top .goog-tab {
  margin: 1px 0 0 2px;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
