*.pyc
*~
__pycache__
test
tests
node_modules
demo
doc
docs
man
benchmark
codemirror/mode/*/index.html
highlight.js/tools
jquery-ui/themes/*
!jquery-ui/themes/smoothness

# exclude jquery-ui sub-pieces
jquery-ui/ui/*.js
jquery-ui/ui/*/*.js
jquery-ui/ui/*/*/*.js
!jquery-ui/ui/jquery-ui.js
!jquery-ui/ui/i18n/jquery-ui-i18n.js
!jquery-ui/ui/minified/jquery-ui.min.js
!jquery-ui/ui/minified/i18n/jquery-ui-i18n.min.js


requirejs/*.sh
requirejs/dist

less.js/build

# is there a better way to express 'only this subtree'?
font-awesome/build/*
!font-awesome/build/assets
font-awesome/build/assets/*
!font-awesome/build/assets/font-awesome

